:root {
  --pink: #F205B3;
  --grey: #012326;
  --green: #034001;
  --dark-blue: #012840;
  --blue: #023059;
}

body {
  font-family: 'Racing Sans One', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-family: 'Racing Sans One', sans-serif;
}

h2 {
  font-size: 18px;
  font-family: 'Racing Sans One', sans-serif;
}

h3 {
  font-size: 16px;
  font-family: 'Racing Sans One', sans-serif;
}

p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  overflow: hidden;
}

nav img {
  height: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  padding: 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: var(--pink);
}

.etusivu {
  min-height: calc(100vh - 70px);
  padding: 0px 30px 0px 30px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etusivu h1 {
  margin: 0;
  padding: 0;
  font-size: 100px;
}

.etusivu h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.button {
  border: 2px solid black;
  border-radius: 14px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: var(--blue);
}

.button:hover {
  background-color: var(--dark-blue);
}

.content {
  min-height: 100vh;
}

footer {
  background-color: var(--grey);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  max-width: 90vw;
}

iframe {
  width: 70vw;
  height: calc(70vw * 9 / 16)
}

.rounded-image {
  border-radius: 15px;
  overflow: hidden;
}

.verkkokauppa {
  padding: 50px;
  background-color: var(--blue);
}

.search-form {
  /* max-width: 600px; */
  margin: 20px auto;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-box {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort {
  width: fit-content;
}

.search-button {
  background-color: var(--blue);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--dark-blue);
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#renkaat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.renkaan-tiedot {
  box-sizing: border-box;
  text-align: left;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.tuotekuva {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.virhe-ilmoitus {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: red;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

@media screen and (max-width: 576px) {
  .etusivu {
    min-height: calc(100vh - 105px);
  }

  .etusivun-tiedot {
    text-align: center;
  }

  .etusivu h1 {
    font-size: 72px;
  }

  .etusivu h3 {
    font-size: 14px;
  }

  .etusivu img {
    display: none;
  }

  .container {
    padding: 5vw;
    display: block;
    justify-content: space-between;
  }

  .verkkokauppa {
    padding: 5vw;
  }

  iframe {
    width: 90vw;
    height: calc(90vw * 9 / 16)
  }

  .button {
    font-size: 12px;
  }

  nav {
    height: auto;
    padding: 20px 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    padding: 5px 0;
  }

  footer {
    padding: 0px 10px 0px 10px;
  }

  footer img {
    width: 80%;
  }

  .renkaan-tiedot {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 940px) {
  .etusivu img {
    display: none;
  }

  .etusivun-tiedot {
    text-align: center;
  }

  .container {
    padding: 5vw;
    display: block;
    justify-content: space-between;
  }

  iframe {
    width: 90vw;
    height: calc(90vw * 9 / 16)
  }

  .renkaan-tiedot {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 940px) {

  .renkaan-tiedot {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
}